<div
  [ngClass]="{ dark: darkMode }"
  class="root-container relative flex overflow-hidden"
>
  <app-sidebar
    [boards]="boards"
    [activeBoard]="activeBoard"
    [opened]="isSidebarOpen"
    (selected)="selectBoard($event)"
    (enableDarkMode)="toggleDarkMode($event)"
    (closeSidebar)="closeSidebar()"
    (add)="addBoard()"
  ></app-sidebar>

  <app-sidebar-toggle (openSidebar)="openSideBar()"></app-sidebar-toggle>

  <main
    class="main flex-1 duration-700"
    [ngClass]="{ 'sm:ml-[26rem] lg:ml-[30rem]': isSidebarOpen }"
  >
    <app-navbar
      [opened]="isSidebarOpen"
      [activeBoard]="activeBoard"
      [boards]="boards"
      [darkMode]="darkMode"
      (boardSelect)="selectBoard($event)"
      (boardAdd)="addBoard()"
      (boardEdit)="editBoard()"
      (boardDelete)="deleteBoard()"
      (taskAdd)="addTask()"
    ></app-navbar>

    <app-project-board
      [darkMode]="darkMode"
      [activeBoard]="activeBoard"
      (columnAdd)="addBoard()"
      (taskUpdate)="updateTask($event)"
      (taskDeleteModal)="deleteTask($event)"
      (taskUpdateModal)="editTask($event)"
    ></app-project-board>
  </main>
</div>
