$font-jakarta: "Plus Jakarta Sans", sans-serif;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$fs-8s: 8.89px;
$fs-10: 10px;
$fs-10s: 10.57px;
$fs-11s: 11.04px;

$mobile: 400px;
$mobile-wide: 430px;
$tablet: 800px;
$tablet-wide: 830px;
$desktop: 1280px;
$full-screen: 1440px;

$white: #ffffff;
$light-purple: #a8a4ff;
$purple: #635fc7;
$black: #000112;
$red: #ea5555;
$light-red: #ff9898;
$dark-grey: #2b2c37;
$very-dark-grey: #20212c;
$medium-grey: #828fa3;
$light-grey: #f4f7fd;
$lines-dark: #3e3f4e;
$line-light: #e4ebfa;
$shadow: hsla(244, 61%, 89%, 0.5);
